<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css" rel="stylesheet">
    <title>Hardware Horizon | Catégories</title>

</head>
<body>
    <div class="navbar">
        <div class="logo">
            <a href="/panel/home"><img src="/public/img/logo" alt=""></a>
        </div>
        <div class="lien">
            <a href="/panel/deals">Deals</a>
            <a href="/panel/categories">Catégories</a>
            <a href="/panel/articles">Articles</a>
            <a href="/panel/autres">Autres</a>
        </div>
    </div>
    <div class="add">
        <p>Ajoutez une nouvelle Catégorie : <a href="/panel/addCategorie">ADD Catégorie</a></p>
    </div>
    <div class="categories">
        {{#each categories}}
        <div class="categorie">
            <img src="/img/{{this.imgId}}" alt="">
            <p class="name">{{this.nom}}</p>
            <div class="balise">
                <a href="">UPDATE</a>
                <a href="/panel/deleteCategories/{{this.id}}">DELETE</a>
            </div>
        </div>
            {{/each}}
    </div>