<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css" rel="stylesheet">
    <title>Hardware Horizon | Error404</title>

</head>
<body>
    <center>
        <img src="/public/img/logo" alt="" style="width:20%"> 
        <h1 style="color: #FBAE3B;"> Error 404</h1>
        <br>
        <p> Qu'elle que chose c'est mal passés ! Si le problème persite veuillez contacter vous savez qui.</p>
        <br>
        <a href="/panel/home">Retourner sur le panel admin</a>
    </center>
</body>
</html>