<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css" rel="stylesheet">
    <title>Hardware Horizon | Home</title>

</head>
<body>
    <div class="navbar">
        <div class="logo">
            <a href="/panel/home"><img src="/public/img/logo" alt=""></a>
        </div>
        <div class="lien">
            <a href="/panel/deals">Deals</a>
            <a href="/panel/categories">Catégories</a>
            <a href="/panel/articles">Articles</a>
            <a href="/panel/autres">Autres</a>
        </div>
    </div>
    
    <div class="items">
        <a href="/panel/deals"><div class="card shadow">Deals</div></a>
        <a href="/panel/categories"><div class="card shadow">Catégories</div></a>
        <a href="/panel/articles"><div class="card shadow">Articles</div></a>
        <a href="/panel/autres"><div class="card shadow">Autres</div></a>
    </div>
    <div class="logout">
        <a href="/panel/logout">
            <button type="button" class="btn cube cube-hover">
                <div class="bg-top">
                    <div class="bg-inner"></div>
                </div>
                <div class="bg-right">
                    <div class="bg-inner"></div>
                </div>
                <div class="bg">
                    <div class="bg-inner"></div>
                </div>
                <div class="text">Logout</div>
            </button>
        </a>
    </div>
    <footer>
        <p>Horizon Hardware @ 2023</p>
    </footer>
</body>
</html>